body{
	background:#d6b75a;
}

h1{
	text-align:center;
	font-family:"Courier New";
	font-size:55px;
}

#id_start{
	border-radius:20px;
	background-color:orange;
	border-color:orange;
	margin-left:50px;
	height:50px;
	width:200px;
	font-size:15px;
}

table{
	margin-left:500px;
	margin-top:30px;
	font-size:30px;
}


td{
	padding-right:500px;
	padding-bottom:30px;
	align:center;
}

#id_player_dice{
	width:100px;
	height:100px;
}

#id_bot_dice{
	width:100px;
	height:100px;
}

.points{
	font-size:60px;
	padding-top:50px;
}

#id_kulej{
	border-radius:20px;
	background-color:#7ef542;
	border-color:#7ef542;
	margin-left:700px;
	margin-top:30px;
	height:70px;
	width:280px;
	font-size:35px;
	font-family:"Arial";
}